<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog web site</title>
    <link rel="stylesheet" href="/styles/contact.css">
</head>
<body>
    <h1>Developper's contact</h1>

    <aside>
        <nav>
            <ul>
                <a href="/home"><li>home</li></a>
                <a href="/new-post"><li>create posts</li></a>
                <a href="/<%= user.pseudo %>/posts"><li>my posts</li></a>
                <a href="/contact"><li>contact me</li> </a> 
            </ul>
        </nav>
    </aside>

    <main>
        <ul>
            <li>
                Phone number : +261 34 17 789 01
            </li>
            <li>
                Email : styvendev@gmail.com
            </li>
            <li>
                Facebook : Styven Dev
            </li>
            <li>
                LinkdIn : Manaja Styven RANAIVOSON
            </li>
            <li>
                Upwork : Styven Manaja
            </li>
            <li>
                Web site link : <a href="https://styvenmanaja.dev">Styven Manaja</a>
            </li>
        </ul>

        <p>Please contact me if you have any suggestions.</p>
    </main>

    
</body>
</html>